.logoleamo {
  max-width: 104px;
}

header {
  background-image: url("../img/bg-header.webp");
  padding-top: 46px;
  background-size: cover;
  background-position: center;
}

.burgermenu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  img {
    height: 42px;
  }
}
