.logoleamo {
  max-width: 104px;
}

header {
  background-image: url("../img/bg-header.webp");
  padding-top: 46px;
  background-size: cover;
  background-position: center;
}

.burgermenu {
  img {
    height: 49px;
  }
}
